{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

    <div class="post">
    <h1>Machine Learning projects</h1>
    <p>Here you can find some of my machine learning projects for self development. It is divided into three main categories as follows:</p>
    <ul>
    	Exploration Data Analysis:
		<li><a href="{% url 'eda_sales' %}">Predict Future Sales</li></a>
	</ul>
	<ul>
		Regression:
		<li><a href="{% url 'reg_diamonds' %}">Diamonds</li></a>
	</ul>
	<ul>
		Classification:
		<li><a href="{% url 'clas_digit_reco' %}">Digit Recognition</li>
		<li><a href="{% url 'clas_mushroom' %}">Mushroom</li>
	</ul>
    </div>
{% endblock %}