{% extends 'blog/base.html' %}

{% block content %}
    <div class="post">
        <div class="date">
            <p>Last update: November 28th, 2019</p>
        </div>
        <h2>Summary</h2>
        <p>I have knowledge in ship design, logistics, and also in subsea systems concerning the oil and gas industry. During my academic experience I developed analytical and self-taught abilities, with the development of a code in Fortran programming language. I am currently working on algorithm development, in Python programming language, with application to the oil and gas industry. I am a dedicated professional looking for new challenges and knowledge.</p><br>
        <h2>Professional Background</h2>
         <strong>Dec 2018 - Current: Solpe - Solutions in Petroleum Science and Engineering (Campinas, SP)</strong><br>
        Cargo: Data Scientist<br>
        <ul>
        	<li>Development of models and algorithms, in Python programming language, for image processing and analysis from rock samples belonging to oil reservoirs;</li>
        	<li>Development of models and algorithms, in Python programming language, applying regression and optimization techniques for oil reservoir characterization.</li>
    	</ul>
        <strong>Feb 2015 - Jul 2018: State University of Campinas (Campinas, SP)</strong><br>
        Post: Researcher<br>
        <ul>
        <li>Numerical simulation for structural response analysis of a subsea equipment (riser) through the development of my own code in Matlab software, and also in Microsoft Visual Studio, in Fortran programming language.</li>
        <li>Numerical simulation of floating production storage and offloading vessel (FPSO) moored at the seabed using Rhinoceros and Ansys Workbench.</li>
        </ul>
        <strong>Jan 2012 – Feb 2012: Technip Brasil - Engenharia. Inst. e Apoio Mar. Ltda. (Rio de Janeiro, RJ)</strong><br>
        Post: Naval Architecture and Ocean Engineer Intern<br>
		<ul>
		<li>Structural analysis of piping support for offshore stationary production units;</li>
		<li>Update of material request documentation.</li><br>
		</ul>
		<hr>
		<h2>Academic Background</h2>
		<strong>Aug 2015 - Feb 2018: Master of Science degree in Petroleum Science and Engineering </strong><br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;State University of Campinas, UNICAMP, Brazil.<br>
		<strong>Oct 2016 - Nov 2016: Academic Exchange in Naval Architecture and Ocean Engineering</strong><br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Pusan National University, PNU, South Korea.<br>
		<strong>Feb 2008 - Aug 2013: Bachelor Degree in Naval Architecture and Ocean Engineering</strong><br>
		&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Escola Politécnica from University of São Paulo, USP, Brazil.<br><br>
		<hr>
		<h2>Qualifications</h2>
		<strong>Technical Skill:</strong>
		<ul>
			<li>Advanced – MS Power Point and MS Excel</li>
			<li>Intermediate – Phyton, R, SQL, VBA, Fortran, MS Word, MS Project, MS Power BI, Matlab, Octave, Orcaflex, Ansys, Inventor and Rhinoceros</li>
			<li>Basic – C, SolidWorks, AutoCad e Catia</li>
		</ul>
		<strong>Complementary Course:</strong>
		<ul>
			<li>Deep Learning (Udacity) <a href="https://confirm.udacity.com/U34EH2TC"><i style="font-size:14px" class="fa">&#xf0a3;</i></a></li>
			<li>Machine Learning A-Z: Hands-on Python & R in Data Science (Udemy) <a href="https://www.udemy.com/certificate/UC-3N5DN4A8/"><i style="font-size:14px" class="fa">&#xf0a3;</i></a></li>
			<li>Microsoft Power BI for Data Science (Data Science Academy) <a href="https://goo.gl/eUJiKW"><i style="font-size:14px" class="fa">&#xf0a3;</i></a></li>
			<li>Data Science: R Basics (HarvardX) <a href="https://courses.edx.org/certificates/07b57cd27a51456094194452e9df07d6"><i style="font-size:14px" class="fa">&#xf0a3;</i></a></li>
			<li>Production Planning and Administration (SENAC) <i style="font-size:14px" class="fa">&#xf0a3;</i></li>
		</ul>
		<strong>Publications:</strong>
		<ul>
			<li>Cabrera-Miranda, J.M.; Sakugawa, P.M.; Corona-Tapia, Rafael; Paik, J.K.; On design criteria for a disconnectable FPSO mooring system associated with expected life-cycle cost; Ships and Offshore Structures; 2017.</li>
			<li>Sakugawa, P.M.; Morooka, C.K.; Dynamic behavior of a seawater intake riser; 36th International Conference on Ocean Offshore and Artic Engineering; 2017.</li>
			<li>Sakugawa, P.M.; Morooka, C.K.; Comportamento dinâmico de um riser captador de água sob efeito de correnteza marítima; Congresso Brasileiro de P&D em Petróleo e Gás; 2017.</li>
		</ul>
		<strong>Language:</strong>
		<ul>
			<li>Portuguese: native writing, reading and conversations</li>
			<li>English: advanced writing, reading and conversations (TOEFL iBT score: 89)</li>
			<li>Spanish: basic writing, reading and conversations</li>
			<li>Korean: basic writing, reading and conversations </li>
		</ul><br>
		<h2>Other Informations:</h2>
		<strong>International Experience:</strong>
		<ul>
			<li>2011 – Argentina: cultural purposes</li>
			<li>2014 – South Korea: cultural purposes</li>
			<li>2016 – South Korea: academic exchange</li>
			<li>2017 – Norway: international conference participation</li>
		</ul>
    </div>
{% endblock %}